
.hover-img{
    transition: all 0.4s ease-in-out;
    img{
        transition: all 0.4s ease-in-out;
    }
}

.hover-img:hover{
    .overlay{
        opacity: 0.95;
    }
    img{
        transform: scale(0.9)
    }
    .add-button{
        opacity: 1;
    }
}